/* COLORES */
/* COLOR NAVEGACION */
$color__fondo__navegacion: #F3F9F2;
$color__background: #F3F9F2;
/* COLOR BOTON */
$color__fondo__boton: #F3F9F2;
$color__boton__degrade:linear-gradient(0deg, rgba(227,227,227,1) 0%, rgba(243,249,242,1) 50%, rgba(227,227,227,1) 100%);
/* FOOTER */
$color__background__footer:#1D4430;
$color__texto__footer:white;
/* GENERALES */
$color__tipografia: hsl(86, 40%, 19%);
$color__tipografia__cartas:white;
$color__icono:white;
$color__hover: #24b168;
$color__cartas__degrade:linear-gradient(140deg, rgba(29,68,48,1) 0%, rgba(46,135,86,1) 100%);
$color__titulos__degrade:linear-gradient(90deg, rgba(46,135,86,1) 0%, rgba(37,100,66,1) 40%, rgba(38,102,67,1) 60%, rgba(46,135,86,1) 100%);

/* TIPOGRAFIAS  */ 
$tipografia__botones: 'Bebas Neue', cursive;
$tipografia__textos: 'Roboto', sans-serif;